#component {
    height: auto;
    width:100%;
}

#top-nav .active-link {
    border-bottom: solid;
}

#top-nav .active-link:hover {
    transform: none;
}

#router-wrapper {
    height: calc(100vh - 75px);
    overflow: auto;
    width:100%;
    background-color: rgb(71, 71, 71);
}
  
#top-nav {
    background-color: rgb(54, 54, 54);
    z-index: 100;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
}
  
#top-nav a {
    outline: none;
    text-decoration: none;
    font-size:1.3em;
    margin:20px;
    padding-bottom:8px;
    color:white;
}
  
#top-nav a:hover {
    transform: scale(1.1);
}