# See http://help.github.com/ignore-files/ for more about ignoring files.

database.txt

# compiled output
frontend//dist
frontend//tmp
frontend//out-tsc
# Only exists if Bazel was run
frontend//bazel-out

# config
credentials.go
reset.go

#bug reports
bugs.txt

# dependencies
node_modules/

# images
*.jpg
*.png

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
frontend/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
.history/*
*.code-workspace

# misc
frontend//.sass-cache
frontend//connect.lock
frontend//coverage
frontend//libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
frontend//typings

# System Files
.DS_Store
Thumbs.db
