<!-- #scroll [scrollTop]="scroll.scrollHeight" -->
<div id="component">
    <div id="messages-wrapper">

        <div id="messages">
            <!-- messages.slice().reverse() -->
            <div class="message" *ngFor="let message of messages; let i = index">
                <div class="user">
                    <img class="avatar" [src]="message.member.avatar">
                    <div class="alias">{{message.member.alias}}</div>
                </div>
                <div class="text-container">
                    <div class="text">{{message.text}}</div>
                    <div class="date-time-container">
                        <span class="date">{{getDate(message)}}</span>
                        <span class="time">{{getTime(message)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input (keyup.enter)="sendMessage()" isFocused [(ngModel)]="messageText" id="message-input">

</div>