<div id="component">
    <!-- <div id="video-feed" *ngIf="isCameraOpen">
        <video autoplay="autoplay" id="video-feed" #videoFeed [srcObject]="videoFeedStream">Video stream not available.</video>
        Video Feed
        <div id="webcam-preview">
            <video autoplay="autoplay" id="video" #video [srcObject]="videoStream">Video stream not available.</video>
        </div>
    </div>
    <button *ngIf="!isCameraOpen" id="camera-button" (click)="openCamera()">
       Open Camera
    </button>
    <button id="take-picture" (click)="takePicture()" >
       take picture
     </button> -->
    <app-messenger></app-messenger>
</div>