#component {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

#card {
  width:fit-content;
  height:fit-content;
  padding:40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.356);
}

mat-form-field {
  width: 250px;
}

#login-button {
  background-color: rgb(26, 111, 190);
  color:white;
  padding:5px 20px 5px 20px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.356);
}

#login-button:hover {
  opacity: .8;
}