<div id="component">
    <div id="card">
        <div id="avatar">
            <img id="avatar-preview" [src]="avatarURL">
            <span id="avatar-instructions">Select Image</span>
            <input id="file-select" type="file" (change)="onChange($event)">
        </div>
        <mat-form-field  appearance="fill">
            <mat-label>Email</mat-label>
            <input isFocused matInput [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input  matInput [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input  matInput [(ngModel)]="name">
        </mat-form-field> 
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button id="create-account-button" (click)=createAccount()>Create Account</button>
    </div>
</div>