#component {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

mat-form-field {
  margin-bottom:2px;
}

#file-select {
  opacity: 0;
  height:100px;
  width:100px;
  cursor: pointer;
  position: absolute;
  background-color: green;
  border-radius: 50%;
}

#avatar-instructions {
  opacity: 0;
  height:100px;
  width:100px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 231, 238, 0.081);
}

#avatar:hover #avatar-instructions {
  font-weight: 500;
  opacity: 1;
  transition: opacity .4s;
}

#avatar {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color:rgb(24, 113, 187);
  border-width: 4px;
  border-radius: 50%;
}

#avatar img {
  height:100px;
  width:100px;
  border-radius: 50%;
}

// border-color:rgb(121, 12, 57);
#avatar:hover img {
  opacity: .4;
  transition: opacity .4s;
}

.card {
  max-width:320px;
  text-align: center;
  height:fit-content;
  padding:40px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.356);
}

mat-form-field {
  width: 250px;
}

.submit {
  background-color: rgb(26, 111, 190);
  color:white;
  padding:5px 20px 5px 20px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.356);
}

.submit:hover {
  opacity: .8;
}

mat-hint {
  color:red;
}

span {
  margin-bottom:10px;
}