<div class="card">

    <div *ngIf="!showCreateServer && !showAddServer" id="buttons-container">
        <button mat-button class="option" (click)="showAddServer = true">Add Server</button>
        <button mat-button class="option" (click)="showCreateServer = true">Create Server</button>
    </div>

    <ng-container *ngIf="showCreateServer">
        <div id="server-image">
            <img [src]="serverImageUrl">
            <span>Select Image</span>
            <input id="file-select" type="file" (change)="onChange($event)">
        </div>
        <app-input-field label="Server Name" hint="Required" [(inputValue)]="server.name" [showHint]="highlightRequired"></app-input-field>
        <app-input-field label="Description" hint="Required" [(inputValue)]="server.description" [showHint]="highlightRequired"></app-input-field>
        <button mat-button class="submit" (click)="createServer()">Create Server</button>
    </ng-container>

    <ng-container *ngIf="showAddServer">
        <app-input-field label="Invite Code" hint="Required" [(inputValue)]="invite.code" [showHint]="highlightRequired"></app-input-field>
        <button mat-button class="submit" (click)="joinServer()">Join</button>
    </ng-container>

</div>