<div id="component">

    <div id="main-container" (click)="isMessagesActive=true" [ngClass]="{'active':isMessagesActive}">
        <div (click)="isMessagesActive=false" [ngClass]="{'active':!isMessagesActive}" id="left-pane">
            <app-server-list [servers]="servers" [(selectedServer)]="selectedServer"
                (openChannelDialog)="openDialog($event)"></app-server-list>

            <app-server-panel *ngIf="selectedServer" [server]="selectedServer" [(selectedChannel)]="selectedChannel"
                (openChannelDialog)="openDialog($event)">
            </app-server-panel>
        </div>
        <div id="right-pane">
            <app-messages *ngIf="selectedChannel" [channel]="selectedChannel" id="messages"></app-messages>
        </div>
    </div>

</div>

<div class="dialog-container" *ngIf="dialogOption != Dialog.NONE">
    <div (click)="closeDialog()" class="overlay"></div>
    <app-add-server *ngIf="dialogOption==Dialog.ADD_SERVER" (newServer)="onNewServer($event)" class="dialog">
    </app-add-server>
    <app-admin *ngIf="dialogOption==Dialog.ADMIN" [server]="selectedServer" (serverDeleted)="onServerDeleted($event)"
        class="dialog"></app-admin>
    <app-add-channel *ngIf="dialogOption==Dialog.ADD_CHANNEL" [server]="selectedServer"
        (newChannel)="onNewChannel($event)" class="dialog">
    </app-add-channel>
</div>