#component {
  height:100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2.5vh 0 2.5vh 0;
  position: relative;
}

#main-container {
  height:100%;
  display:flex;
  position: relative;
  background-color: rgba(46, 48, 48, 0.212);
  border-radius: 10px;
  padding:10px;
  box-sizing: border-box;
}

#left-pane {
  height:100%;
  width:45vw;
  flex-wrap: nowrap;
  box-sizing: border-box;
  display: flex;
}

app-server-list {
  width:15%;
  min-width:65px;
}

app-server-panel {
  width:70%;
}

#right-pane {
  width:45vw;
  height:100%;
}

app-messages {
  height: 100%; 
  flex-grow:1;
}

.overlay {
  position: absolute;;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.562);
}

.dialog-container {
  display:flex;
  justify-content: center;
  align-items:center;
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
}

.dialog {
  margin: auto;
  z-index: 2;
}

@media screen and (max-width: 700px) {

}
